body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #FDFFE1;
    
}

main {
    border: 1px solid red;
    
}
header {
    background-color: #3C7649;
    height: 60px;
    
}
footer {
    border: 1px solid red;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
  }

* {
    box-sizing: border-box;
  }

a {
    color: #DEFFF0;
    }
  .nav {
    font: 20px bold Tahoma, sans-serif;
    color: #FDFFE1;
  }

 .main-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .section {
    width: 50%;
  } 
  .non-dot {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .nav-link {
      padding: 0 15px;
  }
  .main-photo {
    display: block;
    margin: auto;
    border-radius: 10%;
      
  }

    #name {
    text-align: center;
    margin: auto;
  }
    .section-head {
    font-variant: small-caps;
    font-size: 20px;
    color: #3C7649
 }
